@import "tailwindcss";

@theme inline {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 9999px;
}

body {
  background: #000;
  color: #fff;
}
